# directories
Intermediate/
DerivedDataCache/
Binaries/
Saved/
Script/
Plugins/
Build/
Content/*
.idea/
.vs/
.tmp.driveupload/

# exceptions
!Content/CSTutorial/Blueprints
!Content/CSTutorial/UserInterface


# file types
*.sln
*.vsconfig